# Variables d'environnement du projet PIReel
# Ces variables sont déjà configurées dans Vercel et Netlify

VITE_SUPABASE_URL=https://ombtvoxwmwarzbflxpqh.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9tYnR2b3h3bXdhcnpiZmx4cHFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3ODMxNDAsImV4cCI6MjA4NzM1OTE0MH0.0wldBK6iJkh-vXIuJNZDTFubSpa9noKoTDngIj3jZt8
VITE_SUPABASE_PROJECT_ID=ombtvoxwmwarzbflxpqh
