# Variables d'environnement du projet betesim
# Ces variables sont déjà configurées dans Vercel

VITE_SUPABASE_URL=https://mqwrhiffrtbkizyuiytt.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_-ZeINwd33LtlsZSEEy-ubQ_YyVoT9fj
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1xd3JoaWZmcnRia2l6eXVpeXR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2ODg3MjcsImV4cCI6MjA5MTI2NDcyN30.gkfM45pbbDE1c-p5sUUW_k6FuO0h4FqMbm8uoezgWGI
VITE_SUPABASE_PROJECT_ID=mqwrhiffrtbkizyuiytt
